In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/miniconda3/envs/tensorflow/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/miniconda3/envs/tensorflow/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

   Name  Age  Experience
0   Wee   24           0
1  Ommy   23           1

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/06 02:36:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/06 02:36:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/11/06 02:36:55 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/11/06 02:36:55 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('test1.csv')
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Experience|
| Wee| 24|         0|
|Ommy| 23|         1|
+----+---+----------+

In [8]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Wee| 24|         0|
|Ommy| 23|         1|
+----+---+----------+

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)