In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/04 09:20:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| Wee|  24|         0| 30000|
|Ommy|  23|         1| 30000|
|   X|  24|         2|  null|
|   Y|  27|      null| 50000|
|   Z|null|         4| 70000|
|null|  35|        11|180000|
+----+----+----------+------+

In [5]:
df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Wee| 24|         0| 30000|
|Ommy| 23|         1| 30000|
+----+---+----------+------+

In [6]:
# Subset
df_pyspark.na.drop(how='any', subset=['Age', 'Experience', 'Salary']).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Wee| 24|         0| 30000|
|Ommy| 23|         1| 30000|
|null| 35|        11|180000|
+----+---+----------+------+

In [7]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'], 
    outputCols = ['{}_imputed'.format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy('mean')

In [8]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+------+-----------+------------------+--------------+
|Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----+----+----------+------+-----------+------------------+--------------+
| Wee|  24|         0| 30000|         24|                 0|         30000|
|Ommy|  23|         1| 30000|         23|                 1|         30000|
|   X|  24|         2|  null|         24|                 2|         72000|
|   Y|  27|      null| 50000|         27|                 3|         50000|
|   Z|null|         4| 70000|         26|                 4|         70000|
|null|  35|        11|180000|         35|                11|        180000|
+----+----+----------+------+-----------+------------------+--------------+