In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/06 02:58:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/06 02:58:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
df_spark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [5]:
df_spark.show()

+----+--------------+------+
|Name|           Job|Salary|
+----+--------------+------+
| Wee|Data Scientist| 50000|
|Ommy|      Frontend| 40000|
|   a|  Data Analyst| 25000|
|   b| Data Engineer| 47000|
|   c|       Backend| 38000|
|   p| Data Engineer| 44000|
|   q|Data Scientist| 45000|
|   r|      Engineer| 27000|
|   x|Data Scientist| 53000|
|   y|      Frontend| 44000|
|   z|  Data Analyst| 22000|
+----+--------------+------+

In [6]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Job: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
df_spark.groupBy('Job').min().show()

+--------------+-----------+
|           Job|min(Salary)|
+--------------+-----------+
|      Frontend|      40000|
|Data Scientist|      45000|
|  Data Analyst|      22000|
|       Backend|      38000|
|      Engineer|      27000|
| Data Engineer|      44000|
+--------------+-----------+

In [8]:
df_spark.groupBy('Job').max().show()

+--------------+-----------+
|           Job|max(Salary)|
+--------------+-----------+
|      Frontend|      44000|
|Data Scientist|      53000|
|  Data Analyst|      25000|
|       Backend|      38000|
|      Engineer|      27000|
| Data Engineer|      47000|
+--------------+-----------+

In [9]:
df_spark.groupBy('Job').avg().show()

+--------------+------------------+
|           Job|       avg(Salary)|
+--------------+------------------+
|      Frontend|           42000.0|
|Data Scientist|49333.333333333336|
|  Data Analyst|           23500.0|
|       Backend|           38000.0|
|      Engineer|           27000.0|
| Data Engineer|           45500.0|
+--------------+------------------+

In [10]:
df_spark.groupBy('Job').mean().show()

+--------------+------------------+
|           Job|       avg(Salary)|
+--------------+------------------+
|      Frontend|           42000.0|
|Data Scientist|49333.333333333336|
|  Data Analyst|           23500.0|
|       Backend|           38000.0|
|      Engineer|           27000.0|
| Data Engineer|           45500.0|
+--------------+------------------+

In [11]:
df_spark.groupBy('Job').count().show()

+--------------+-----+
|           Job|count|
+--------------+-----+
|      Frontend|    2|
|Data Scientist|    3|
|  Data Analyst|    2|
|       Backend|    1|
|      Engineer|    1|
| Data Engineer|    2|
+--------------+-----+