In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/17 03:04:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/17 03:04:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
# Read the dataset
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Wee| 24|         0|
|Ommy| 23|         1|
+----+---+----------+

In [5]:
# Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [6]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [7]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [8]:
df_pyspark.select('Name', 'Experience').show()

+----+----------+
|Name|Experience|
+----+----------+
| Wee|         0|
|Ommy|         1|
+----+----------+

In [9]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [10]:
df_pyspark.describe().show()

+-------+----+------------------+------------------+
|summary|Name|               Age|        Experience|
+-------+----+------------------+------------------+
|  count|   2|                 2|                 2|
|   mean|null|              23.5|               0.5|
| stddev|null|0.7071067811865476|0.7071067811865476|
|    min|Ommy|                23|                 0|
|    max| Wee|                24|                 1|
+-------+----+------------------+------------------+

In [11]:
# Rename a column
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|     Wee| 24|         0|
|    Ommy| 23|         1|
+--------+---+----------+